.clock-container {
  position: relative;
  width: 25%;
  overflow: hidden;
  background: url('./img/images.jpeg') no-repeat;
  background-attachment: fixed;
  border: 10px double rgb(0, 0, 0);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
  &.styling{
    box-shadow: 0px 0px 10px #888888;
    border-radius: 50%;
    min-width: 100px;
    margin-top: 1%;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.clock-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .indicator {
    border-radius: 10px;
    transform-origin: bottom;
    outline: 1px solid transparent; 
    position: absolute;
    bottom: 50%;

    &.seconds-indicator {
      width: 0.5%;
      height: 37.5%;
      z-index: 2;
      background-color: #ff0000;
      &.transition-effect {
      }
    }

    &.minutes-indicator {
      width: 1%;
      height: 35%;
      z-index: 3;
      background-color: #000000;
      &.transition-effect {
      }
    }

    &.hours-indicator {
      width: 2%;
      height: 22.5%;
      z-index: 4;
      background-color: #000000;
      &.transition-effect {
      }
    }
  }

}
.getTimebtn{
  width: 200px;
  color:white;
  cursor: pointer;
  background: rgb(0, 0, 71);
  box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.432);
  line-height: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
